@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


:root {
    --font-poppins: 'Poppins', sans-serif;
    --gray-900: #18191F;
    --gray-800: #3A3A3A;
    --gray-700: #787885;
    --gray-600: #6C6C6C;
    --white-: #FFFFFF;
    --pink: #E02C6D;
    --blur-yellow: #FB8200;
    --bg-primary: #E02C6D;
    --bg-secondary: rgb(221, 226, 231);
    --rounded: 0.3rem;
    --rounded-md: 1rem;
    --rounded-full: 50%;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--font-poppins);
}
.container-flued{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--font-poppins);
}

.mt-48 {
    margin-top: 10rem;
}

.mt-32 {
    margin-top: 6.25rem;
}


.btn-primary {
    display: flex;
    padding: 0.6rem 1.25rem;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-);
    background: var(--bg-primary);
    border: none;
    border-radius: var(--rounded-md);


}


.btn-secondary > button {
    display: block;
    margin: 2rem 0 2rem auto;
    padding: 0.6rem 1.25rem;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--pink);
    background: var(--white-);
    border: none;
    border-radius: var(--rounded-md);
    
}

.btn-tertiary{
    display: flex;
    
    padding: 0.6rem 1.25rem;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-);
    background: var(--bg-primary);
    border: none;
    
}
/* ********------------------------------

header section style start............................

---------------------------------******** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}

nav ul {
    display: flex;
    align-self: center;
    gap: 2rem;
}

nav ul li {
    list-style-type: none;

}

nav ul li a {
    color: var(--gray-800);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;

}









/* ********------------------------------

header section style end............................

---------------------------------******** */












/* ********------------------------------

main section style start............................

---------------------------------******** */








/* start my journey section style start */


.journey-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.journey-image img{
    width: 100%;
}

.journey-intro {
    font-size: 3.25rem;
}

.journey-description {
    padding: 1rem 0;
}


.journey-image {
    position: relative;
    border: 1px solid var(--bg-secondary);
    border-radius: var(--rounded-full);
    padding: 2rem 1rem;

}

.circle {
    z-index: -1;
    top: 5.625rem;
    left: 5.625rem;
    background-color: var(--bg-secondary);
    position: absolute;
    width: 60%;
    height: 60%;
    border-radius: var(--rounded-full);
    color: #655c5f;
}

/* start my journey section style end */



/* place section style start */

.place-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}




/* place section style end */






/* popular style start */

.popular-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.popular-title {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 8rem;
}

.popular-item {
    background-color: var(--white-);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 1.06rem 0.8rem;
    border-radius: var(--rounded);

}

.popular-img >img{
    width: 100%;
}

.item-title {
    font-size: 1.5rem;
    color: var(--gray-900);
    font-weight: 500;
}

.item-prize {
    font-weight: 400;
    padding: 0.2rem 0;
}

i {
    padding: 0 0 0.3rem;
}

.fa-star.fill,
.fa-star-half-stroke {
    color: var(--blur-yellow);
}

.rating {
    font-size: 0.8rem;
    font-weight: 700;
}

.item-info {
    font-size: 0.8rem;
}

/* popular style end */




/* feature section style start */

.feature-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
}

.feature-title{
    font-size: 2.3rem;
}
.feature-description{
    padding: 1rem 0;
    font-size: 0.8rem;
    color: var(--gray-600);
    font-weight: 500;
}
/* feature section style end */





/* ********------------------------------

main section style end...........................

---------------------------------******** */















/* ********------------------------------

footer section style start...........................

---------------------------------******** */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background: var(--gray-900);
    font-family: var(--font-poppins);
    text-align: center;
    color: var(--white-);
}


.footer-title{
    font-size: 1.2rem;
}

.footer-description{
    font-size: 0.8rem;
}

.footer-icon{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.9rem;
}

.hamburger{
    display: none;
}
.card{
    display: none;
}
.tablet-menu{
    display: none;
}




/* ********------------------------------


footer section style end...........................

---------------------------------******** */



/* media quaries start */

@media  screen and (max-width:688px) {
    
    .container{
        max-width: 100%;
        margin: 0 auto;
        
    }
    .container-flued{
        max-width: 100%;
        margin: 0 auto;
      
    }

    nav{
        display: none;
    }

    .header{
        justify-content: space-between;
        padding: 2rem;
        
    }
    .nav-title{
        font-size: 1rem;
    }
    .hamburger{
        display: block;
        color: var(--gray-900);
        font-size: 1rem;
    }
    .card {
        display: block;
        color: var(--gray-900);
        font-size: 1rem;
    }

    .journey-container{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        
    }

    .journey-intro{
        font-size: 1.5rem;
    }
    .btn-primary{
        margin: 0 auto;
    }

    
    .popular-container {
        grid-template-columns: repeat(1,1fr);
    }
    
    .feature-container{
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }
    .feature-title{
        font-size: 1.2rem;
    }
    .btn-tertiary{
        margin: 0 auto;
    }
    .footer{
        padding: 3rem;
        width: 100%;
        max-width: 1200px;
    }

}






@media screen and (min-width:689px) and (max-width:992px){
    
    .header{
         padding: 2rem 2rem 4rem;
   }
    nav{
        display: none;
    }
    .tablet-menu{
        display: flex;
        gap: 2rem;
    }
    .journey-container{
        flex-wrap: wrap;
        text-align: center;
    }
    .btn-primary{
        margin: 0 auto;
    }
    .popular-container{
        grid-template-columns: repeat(2,1fr);
    }

    .feature-container{
        gap: 1.2rem;
        padding: 2rem 0;
    }
}
/* media quaries end */